<ul class="comment-container">
  <li class="comment-author" ng-hide="isInEditMode">
    {{comment.author}}
  </li>
  <li class="comment-dateAdded" ng-hide="isInEditMode">
    {{comment.date}}
  </li>
  <li class="comment-content" ng-hide="isInEditMode">
    {{comment.content}}
  </li>
  <!-- {if $isUserLoggedIn}
  <li class="comment-links">
    <a href="/?controller=main&action=deleteComment&id={$comment->id}">Usuń</a>
  </li>
  {/if} -->
  <li ng-hide="isInEditMode">
    <!-- <a ng-click="isInEditMode=true">Edit</a> -->
    <a ng-click="onEdit({postId: post.id, commentId: comment.id})">Edit</a>
    <!-- <a href="#" ui-sref="posts.editComment({postId: postId, commentId: comment.id})">
    Edit
  </a> -->
    <a ng-click="onDelete({postId: post.id, commentId: comment.id})">Delete</a>
  </li>

  <li class="new-comment-container"
    ng-show="isInEditMode">
    <span class="new-comment-text-container">
      <textarea rows="1" ng-model="comment.content"></textarea>
    </span>
    <span class="new-comment-link-container">
      <a href="#" ng-click="onSave({postId: post.id, comment: comment})">Comment</a>
      <a href="#" ui-sref="posts" ng-show="showCancelBtn">Cancel</a>
    </span>
  </li>
</ul>
