<div class="post-container">
  <ul>
    <li class="post-content">
      {{post.text}}
    </li>
    <li class="post-dateAdded">
      {{post.dateAdded}}
    </li>
    <li class="post-links">
      <a href="#" ng-click="onEdit({postId: post.id})">Edit</a>
      <a href="#" ng-click="onDelete({postId: post.id})">Delete</a>
    </li>
    <li class="post-comments-container" >
      <comment ng-repeat="comment in post.comments" comment="comment" />
    </li>
        <!-- {/if} -->
        <!-- {if isset($selectedPostId) && $selectedPostId == $post->id}
        <li>
            {include file='views/partials/addCommentView.tpl' postId=$selectedPostId}
        </li>
        {/if} -->
    <!-- <li class="new-comment-container">
      <span class="new-comment-text-container">
        <textarea rows="1"></textarea>
      </span>
      <span class="new-comment-link-container">
        <a href="#" ng-click="onAddComment({postId: post.id})">Comment</a>
      </span>
    </li> -->
  </ul>
</div>
