<div class="post-container" ng-hide='isInEditMode'>
  <ul>
    <li class="post-content">
      {{post.text}}
    </li>
    <li class="post-dateAdded">
      {{post.dateAdded}}
    </li>
    <li class="post-links">
      <a href="#" ng-click="onEdit({postId: post.id})">Edit</a>
      <a href="#" ng-click="onDelete({postId: post.id})">Delete</a>
    </li>
    <li class="post-comments-container" >
      <comment ng-repeat="comment in post.comments" comment="comment" />
    </li>
  </ul>
</div>

<div class="add-post-container" ng-show='isInEditMode'>
  <!-- <form ng-submit="savePost()"> -->
  <form>
    <div>
      <!--<input type="text" id="title" name="title" placeholder="tytuł" />-->
      <textarea id="content"
        rows="4"
        name="content"
        placeholder="treść..."
        ng-model="post.text">
      </textarea>
    </div>
    <div class="buttons">
      <!-- <button type="submit" class="button">Zapisz</button> -->
      <a href="#" ng-click="onSave({post: post})">Save</a>
      <a ui-sref="posts">Cancel</a>
    </div>
  </form>
</div>
