<div id="loginForm" class="loginForm-container">
  <form role="form" name="loginForm">
    <div>
      <input type="text" placeholder="Username" required autofocus
        ng-model="loginData.userName"/>
      <input type="password" placeholder="Password" required
        ng-model="loginData.password">
    </div>
    <div class="buttons">
      <a ng-click="login()" href="#">Login</a>
    </div>
  </form>

  <div class="loginForm-register">
    <div>You don't have an account?</div>
    <div class="margin-top-10">
      <a ui-sref="signup" href="#">Register</a>
    </div>
  </div>
</div>
