<form class="form-login" role="form" name="loginForm">
    <h2 class="form-login-heading">Login</h2>
    <a ui-sref="signup" href="#">Signup</a>
    <input
      type="text" class="form-control" placeholder="Username" required autofocus
      ng-model="loginData.userName">
    <input type="password" class="form-control" placeholder="Password" required
      ng-model="loginData.password">
    <input type="email" class="form-control" placeholder="Email" required
      ng-model="loginData.email" ng-pattern="emailFormat">
    <button class="btn btn-lg btn-info btn-block" type="submit"
      ng-click="login()">
      Login
    </button>
    <div class="alert alert-danger"
      ng-hide="message == ''">
        {{message}}
    </div>

    <!-- <tt>email: {{loginData.email}}</tt><br/>
    <tt>is email undefined: {{loginData.email === undefined}}</tt><br/>
    <tt>form is valid: {{loginForm.$valid}}</tt><br/>
    <tt>error in email field: {{!!loginForm.$error.email}}</tt><br/> -->
</form>
