/* *********************************************** */
/* Login view */
/* Sign up view*/
/* *********************************************** */

.loginForm-container {
  width: 50%;
}

.signupForm-container{
  width: 75%;
}

.loginForm-container, .signupForm-container {
  margin: 10px auto;
  padding: 10px 15px;
  /*width: 50%;*/
}

.loginForm-container .buttons,
.signupForm-container .buttons{
  font-size: 1em;
  margin: 10px 0 0;
}

.loginForm-container form,
.signupForm-container form {
  border: 1px solid #CCC;
  border-radius: 0.5em;
  padding: 10px 15px;
}

.loginForm-container input,
.signupForm-container input{
    border: 1px solid #999;
    display: block;
    font-size: 1em;
    margin: 10px 0;
    padding: 2px;
    width: 100%;
}

.loginForm-container input:focus,
.signupForm-container input:focus {
    border-color: #000;
}

.loginForm-register {
  margin: 20px 0;
  font-size: 0.8em;
}
