<div id="loginForm" class="signupForm-container">
  <form>
    <!-- <h2>Sign up</h2> -->
    <input type='text' class='' placeholder='Username' required autofocus
      data-ng-model='registration.userName' />
    <input type='password' class='' placeholder='Password' required
      data-ng-model='registration.password' />
    <input type='password' class='' placeholder='Confirm Password' required
      data-ng-model='registration.confirmPassword' />
    <div class="buttons">
      <a ng-click="signUp()" href="#">Sign up</a>
    </div>
  </form>
</div>
