
<div class="add-post-container">
  <!-- <form ng-submit="savePost()"> -->
  <form>
    <div>
      <!--<input type="text" id="title" name="title" placeholder="tytuł" />-->
      <textarea id="content"
        rows="4"
        name="content"
        placeholder="treść..."
        ng-model="post.text">
      </textarea>
    </div>
    <div class="buttons">
      <!-- <button type="submit" class="button">Zapisz</button> -->
      <a href="#" ng-click="savePost()">Save</a>
      <a ui-sref="posts">Cancel</a>
    </div>
  </form>
</div>
