<div ui-view>
  <h2>{{currentStateName}} {{selectedPostId}} {{selectedCommentId}}</h2>
  <!-- <a ui-sref='posts.add'>Add</a> -->
  <edit-post
    is-visible='modalVisible'
    post='selectedPost'
    on-save='onSavePostClick(post)'>
  </edit-post>
<!--
  <post
    post='newPost'
    on-save='onSavePostClick(post)'
    is-in-edit-mode='true'
    show-cancel-btn='false'
    ng-show='currentStateName == "posts"'>
  </post>
-->
  <!--
    Add this empty div tag in order
    not to have "TypeError: Cannot read property 'insertBefore' of null"
    after updating ui-router version from 0.2.8 to 0.2.14
    A possible solution is not to insert ng-repeat
    in the direct child of ui-view
    of ui-view
  -->
  <a ng-click='onCreatePostClick()'>Add</a>
  <div>
    <!--
      is-in-edit-mode='idOfPostToEdit == post.id'
    -->
    <!-- on-save='onSavePostClick(post)' -->
    <post
      ng-repeat='post in posts'
      post='post'
      on-edit='onEditPostClick(postId)'
      on-delete='onDeletePostClick(postId)'
      show-cancel-btn='true'
      on-edit-comment-click='onEditCommentClick(postId, commentId)'
      on-save-comment-click='onSaveCommentClick(postId, comment)'
      on-delete-comment-click='onDeleteCommentClick(postId, commentId)'
      selected-comment-id='selectedCommentId'>
    </post>
  </div>
</div>
