<div class="cust-modal" style="display: {{isVisible? 'block': 'none';}}">
  <!-- Modal content -->
  <div class="cust-modal-content position-cetered">

    <div class="cust-modal-header">
      <span class="close" ng-click="isVisible = !isVisible">&times;</span>
      <h2>Modal Header</h2>
    </div>

    <div class="cust-modal-body">
      <!-- <post post='post' is-in-edit-mode='true'> -->
      <!-- <div class="add-post-container"> -->
        <!-- <form ng-submit="savePost()"> -->
        <form>
          <!-- <div> -->
            <!--<input type="text" id="title" name="title" placeholder="tytuł" />-->
            <textarea id="content"
              rows="4"
              name="content"
              placeholder="treść..."
              ng-model="post.text">
            </textarea>
          <!-- </div> -->
        </form>
      <!-- </div> -->
    </div>

    <div class="cust-modal-footer">
      <a href="#"
        ng-click="onSave({post: post})">
        Save
      </a>
        <!-- <button type="submit" class="button">Zapisz</button> -->
        <!-- <a ui-sref="posts" ng-show='showCancelBtn'>Cancel</a> -->
    </div>

  </div>
</div>
