<div class="modal" style="display: {{isVisible? 'block': 'none';}}">
  <!-- Modal content -->
  <div class="modal-content position-cetered">
  <!--
    <div class="modal-header">
      <span class="close" ng-click="isVisible = !isVisible">&times;</span>
      <h2>Modal Header</h2>
    </div>
  -->
    <div class="modal-body">
      <span class="close" ng-click="isVisible = !isVisible">&times;</span>
      <post post='post' is-in-edit-mode='true'>
    </div>
    <!--
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  -->
  </div>
</div>
